body#index{
	background-image: url("img/liga.jpg");
  background-size: cover;
}

body#correcto{
	background-image: url("img/liga1.png");
  background-size: cover;
}

body#modifica{
	background-image: url("img/liga2.jpg");
  background-size: cover;
}

div#messi{
  position: absolute;
  width: 420px;
	height: 420px;
  margin-left: 717px;
  background-image: url("img/messi.png");
}

div#ronaldo{
  position: absolute;
  width: 500px;
	height: 500px;
  margin-left: 400px;
  background-image: url("img/llora.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
