body#index{
	background-image: url("img/liga.jpg");
  background-size: cover;
}

body#correcto{
	background-image: url("img/liga1.png");
  background-size: cover;
}

body#modifica{
	background-image: url("img/liga2.jpg");
  background-size: cover;
}

div#messi{
  position: absolute;
  width: 420px;
	height: 420px;
  margin-left: 717px;
  background-image: url("img/messi.png");
}

div#ronaldo{
  position: absolute;
  width: 500px;
	height: 500px;
  margin-left: 400px;
  background-image: url("img/llora.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

div#cr{
  position: absolute;
  width: 700px;
	height: 500px;
  margin-left: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/ronaldo.gif");
}

div#camiseta{
  position: absolute;
  width: 700px;
	height: 500px;
  margin-left: 400px;
  background-image: url("img/camiseta.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#logo{
  position: absolute;
  width: 95px;
	height: 75px;
  margin-left: 1037px;
  margin-top: -42px;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}